@model Books.Models.Author
@using Books.ViewModels

@{
    ViewBag.Title = "Details";

    IEnumerable<TitleVM> titles = (IEnumerable<TitleVM>)ViewBag.Titles;
}

<h2>Details</h2>

@* Display the Author's Details *@
<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Author ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.au_id)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.au_lname)
        </dd>

        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.au_fname)
        </dd>

        <dt>
            Phone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            City
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            State
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            Zip Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zip)
        </dd>

        <dt>
            Contract
        </dt>

        <dd>
            @Html.CheckBoxFor(model => model.contract)
        </dd>

    </dl>
</div>

<br />
<br />

@* Display the Author's Titles *@
<h4>Titles</h4>

@if ((titles != null) && (titles.Count() > 0))
{
    <div class="row">
        <div class="col-sm-1">
            <b>Title ID</b>
        </div>
        <div class="col-sm-2">
            <b>Title</b>
        </div>
        <div class="col-sm-1">
            <b>Type</b>
        </div>
        <div class="col-sm-1">
            <b>Publisher ID</b>
        </div>
        <div class="col-sm-1">
            <b>Price</b>
        </div>
        <div class="col-sm-1">
            <b>Advance</b>
        </div>
        <div class="col-sm-1">
            <b>Royalty</b>
        </div>
        <div class="col-sm-1">
            <b>YTD Sales</b>
        </div>
        <div class="col-sm-2">
            <b>Notes</b>
        </div>
        <div class="col-sm-1">
            <b>Publish Date</b>
        </div>
    </div>
    <hr />

    foreach (var title in titles)
    {
    <div class="row">
        <div class="col-sm-1">
            @title.title_id
        </div>
        <div class="col-sm-2">
            @title.title
        </div>
        <div class="col-sm-1">
            @title.type
        </div>
        <div class="col-sm-1">
            @title.pub_id
        </div>
        <div class="col-sm-1">
            @title.price.Value.ToString("$0.00")
        </div>
        <div class="col-sm-1">
            @title.advance.Value.ToString("$0.00")
        </div>
        <div class="col-sm-1">
            @title.royalty.Value.ToString("$0")
        </div>
        <div class="col-sm-1">
            @title.ytd_sales.Value.ToString("$0")
        </div>
        <div class="col-sm-2">
            @title.notes
        </div>
        <div class="col-sm-1">
            @title.pubdate.ToString("MM/dd/yyyy")
        </div>
    </div>
    <hr />
    }

    }
    else
    {
    <h5>No Titles For This Author</h5>
    }

<br />
<br />
<br />

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    </p>
