@model Books.Models.Author

@{
    ViewBag.Title = "Details";

    IEnumerable<string> titles = (IEnumerable<string>)ViewBag.Titles;
}

<h2>Details</h2>

@* Display the Author's Details *@
<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Author ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.au_id)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.au_lname)
        </dd>

        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.au_fname)
        </dd>

        <dt>
            Phone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            City
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            State
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            Zip Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zip)
        </dd>

        <dt>
            Contract
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contract)
        </dd>

    </dl>
</div>

@* Display the Author's Titles *@
<h4>Titles</h4>

@if (titles != null)
{
    foreach (var title in titles)
    {
        <p>@title</p>
    }
}
else
{
    <h5>No Titles For This Author</h5>
}


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class="btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-primary"})
</p>
