@model Books.Models.Author
@using Books.ViewModels

@{
    ViewBag.Title = "Details";

    IEnumerable<TitleVM> titles = (IEnumerable<TitleVM>)ViewBag.Titles;
}

<h2>Details</h2>

@* Display the Author's Details *@
<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Author ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.au_id)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.au_lname)
        </dd>

        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.au_fname)
        </dd>

        <dt>
            Phone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            City
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            State
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            Zip Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zip)
        </dd>

        <dt>
            Contract
        </dt>

        <dd>
            @Html.CheckBoxFor(model => model.contract)
        </dd>

    </dl>
</div>

<br />
<br />

@* Display the Author's Titles *@
<h4>Titles</h4>

@if ((titles != null) && (titles.Count() > 0))
{
<table class="table">
    <tr>
        <th>
            Title ID
        </th>
        <th>
            Title
        </th>
        <th>
            Type
        </th>
        <th>
            Publisher ID
        </th>
        <th>
            Price
        </th>
        <th>
            Advance
        </th>
        <th>
            Royalty
        </th>
        <th>
            YTD Sales
        </th>
        <th>
            Notes
        </th>
        <th>
            Publish Date
        </th>
    </tr>

    @foreach (var title in titles)
    {
    <tr>
        <td>
            @title.title_id
        </td>
        <td>
            @title.title
        </td>
        <td>
            @title.type
        </td>
        <td>
            @title.pub_id
        </td>
        <td>
            @title.price.Value.ToString("$0.00")
        </td>
        <td>
            @title.advance.Value.ToString("$0.00")
        </td>
        <td>
            @title.royalty.Value.ToString("$0.00")
        </td>
        <td>
            @title.ytd_sales.Value.ToString("$0")
        </td>
        <td>
            @title.notes
        </td>
        <td>
            @title.pubdate.ToString("MM/dd/yyyy")
        </td>
    </tr>
    }
    </table>

    }
    else
    {
    <h5>No Titles For This Author</h5>
    }

<br />
<br />
<br />

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    </p>
