@model  IEnumerable<Books.Models.Author>

@{
    ViewBag.Title = "Authors";
}

<h2>Authors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@* Display Table Of All Authors *@
<div class="row">
        <div class="col-sm-1">
            <b>Author ID</b>
        </div>
        <div class="col-sm-1">
            <b>Last Name</b>
        </div>
        <div class="col-sm-1">
            <b>First Name</b>
        </div>
        <div class="col-sm-1">
            <b>Phone</b>
        </div>
        <div class="col-sm-1">
            <b>Address</b>
        </div>
        <div class="col-sm-1">
            <b>City</b>
        </div>
        <div class="col-sm-1">
            <b>State</b>
        </div>
        <div class="col-sm-1">
            <b>Zip</b>
        </div>
        <div class="col-sm-1">
            <b>Contract</b>
        </div>
        <div class="col-sm-3"></div>
</div>
<hr />

@foreach (var item in Model) {
    <div class="row">
        <div class="col-sm-1">
            @Html.DisplayFor(modelItem => item.au_id)
        </div>
        <div class="col-sm-1">
            @Html.DisplayFor(modelItem => item.au_lname)
        </div>
        <div class="col-sm-1">
            @Html.DisplayFor(modelItem => item.au_fname)
        </div>
        <div class="col-sm-1">
            @Html.DisplayFor(modelItem => item.phone)
        </div>
        <div class="col-sm-1">
            @Html.DisplayFor(modelItem => item.address)
        </div>
        <div class="col-sm-1">
            @Html.DisplayFor(modelItem => item.city)
        </div>
        <div class="col-sm-1">
            @Html.DisplayFor(modelItem => item.state)
        </div>
        <div class="col-sm-1">
            @Html.DisplayFor(modelItem => item.zip)
        </div>
        <div class="col-sm-1">
            @Html.CheckBoxFor(modelItem => item.contract)
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-primary" })
        </div>
     </div>
     <hr />
}
