@model Books.Models.Title

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pub_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pub_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Model.price.Value.ToString("$0.00")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.advance)
        </dt>

        <dd>
            @Model.advance.Value.ToString("$0.00")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.royalty)
        </dt>

        <dd>
            @Model.royalty.Value.ToString("$0")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ytd_sales)
        </dt>

        <dd>
            @Model.ytd_sales.Value.ToString("$0")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pubdate)
        </dt>

        <dd>
            @Model.pubdate.ToString("MM/dd/yyyy")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
