@model IEnumerable<Books.Models.Title>

@{
    ViewBag.Title = "Titles";
}

<h2>Titles</h2>

@* Display the Titles Info *@
<p>
    @Html.ActionLink("Create New", "Create")
</p>

    <div class="row">
        <div class="col-sm-1">
            <b>@Html.DisplayNameFor(model => model.title_id)</b>
        </div>
        <div class="col-sm-1">
            <b>@Html.DisplayNameFor(model => model.title)</b>
        </div>
        @*
        <div class="col-sm-1">
            <b>@Html.DisplayNameFor(model => model.type)</b>
        </div>
        *@
        <div class="col-sm-1">
            <b>@Html.DisplayNameFor(model => model.pub_id)</b>
        </div>
        <div class="col-sm-1">
            <b>@Html.DisplayNameFor(model => model.price)</b>
        </div>
        <div class="col-sm-1">
            <b>@Html.DisplayNameFor(model => model.advance)</b>
        </div>
        <div class="col-sm-1">
            <b>@Html.DisplayNameFor(model => model.royalty)</b>
        </div>
        <div class="col-sm-1">
            <b>@Html.DisplayNameFor(model => model.ytd_sales)</b>
        </div>
        <div class="col-sm-1">
            <b>@Html.DisplayNameFor(model => model.notes)</b>
        </div>
        <div class="col-sm-1">
            <b>@Html.DisplayNameFor(model => model.pubdate)</b>
        </div>
        <div class="col-sm-3"></div>
    </div>
<hr />

@foreach (var item in Model) {
    <div class="row">
        <div class="col-sm-1">
            @Html.DisplayFor(modelItem => item.title_id)
        </div>
        <div class="col-sm-1">
            @Html.DisplayFor(modelItem => item.title)
        </div>
        @*
        <div class="col-sm-1">
            @Html.DisplayFor(modelItem => item.type)
        </div>
        *@
        <div class="col-sm-1">
            @Html.DisplayFor(modelItem => item.pub_id)
        </div>
        <div class="col-sm-1">
            @item.price.Value.ToString("$0.00")
        </div>
        <div class="col-sm-1">
            @item.advance.Value.ToString("$0.00")
        </div>
        <div class="col-sm-1">
            @item.royalty.Value.ToString("$0")
        </div>
        <div class="col-sm-1">
            @item.ytd_sales.Value.ToString("$0")
        </div>
        <div class="col-sm-1">
            @Html.DisplayFor(modelItem => item.notes)
        </div>
        <div class="col-sm-1">
            @item.pubdate.ToString("MM/dd/yyyy")
        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-primary" })
        </div>
    </div>
    <hr />
}

