@model IEnumerable<Books.Models.Sale>

@{
    ViewBag.Title = "Sales";
}

<h2>Sales</h2>

@* Display the Sales Info *@
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.stor_id)</b>
        </div>
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.ord_num)</b>
        </div>
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.ord_date)</b>
        </div>
        <div class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.qty)</b>
        </div>
        <div class="col-sm-4"></div>
 </div>
<hr />

@foreach (var item in Model) {
    <div class="row">
        <div class="col-sm-2">
            @Html.DisplayFor(modelItem => item.stor_id)
        </div>
        <div class="col-sm-2">
            @Html.DisplayFor(modelItem => item.ord_num)
        </div>
        <div class="col-sm-2">
            @item.ord_date.ToString("MM/dd/yyyy")
        </div>
        <div class="col-sm-2">
            @Html.DisplayFor(modelItem => item.qty)
        </div>
        <div class="col-sm-4">
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-primary" })
        </div>
    </div>
    <hr />
}

