@model IEnumerable<Books.Models.Sale>

@{
    ViewBag.Title = "Sales";
}

<h2>Sales</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stor_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ord_num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ord_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stor_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ord_num)
        </td>
        <td>
            @item.ord_date.ToString("MM/dd/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
